.login {
  /* background: linear-gradient(#00dbc5, #6c10c7); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
}
.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a,
.login__container--register {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}
.account--input {
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 0px 10px;
  outline: none;
  height: 45px;
  color: white;
}
::placeholder {
  color: white;
}
.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  color: white;
  height: 45px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.5px;
  margin: 10px 0px;
}
@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0;
  }
}
